@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* ================================== HEADER ================================== */

  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-contacts-list {
    gap: 40px;
  }

  .header-contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* ================================== /HEADER ================================== */

  /* ==================================== HERO ==================================== */

  .hero-container {
    width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-background.jpg);
    padding: 188px 0px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-background-2x.jpg);
    }
  }

  /* ================================== /HERO ================================== */

  /* ================================== ABOUT ================================== */

  .about {
    padding-bottom: 60px;
  }

  .about-list {
    gap: 24px;
  }

  .about-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .about-list-description {
    font-weight: 400;
  }

  .about-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .about-box {
    width: 264px;
    height: 112px;
    background: var(--light);
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* ================================== /ABOUT ================================== */

  /* ================================== WORKS ================================== */

  .works {
    display: flex;
    padding-top: 60px;
  }

  .works-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .work-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .works-title {
    text-align: center;
    margin-bottom: 72px;
  }

  /* ================================== /WORKS ================================== */

  /* ================================== OUR TEAM ================================== */
  .team-list {
    gap: 24px;
  }

  .team-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  /* ================================== /OUR TEAM ================================== */

  /* ================================== CUSTOMERS ================================== */
  .customers-list {
    gap: 24px;
  }

  .customers-list-item {
    flex-basis: calc((100% - 120px) / 6);
  }
  /* ================================== /CUSTOMERS ================================== */

  /* ================================== PORTFOLIO ================================== */

  .catalog {
    padding-top: 100px;
  }

  .catalog-filter {
    margin-bottom: 72px;
  }

  .catalog-list {
    gap: 48px 24px;
  }

  .catalog-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  /* ================================== /PORTFOLIO================================== */

  /* ================================== FOOTER ================================== */

  .footer-container {
    gap: 0px;
  }

  .footer-soc {
    margin-left: 120px;
  }

  .footer-subscribe {
    margin-right: 0;
    margin-left: auto;
  }

  /* ================================== /FOOTER ================================== */
}
